body{
	margin: 0px;
	padding: 0px;
}

h1{
	text-align: center;
}

.header-element table{
	width: 70%;
	margin: 1% 15%;
}

.school table{
	width: 70%;
	padding: 2%;
	margin: 1% 15%;
}

.school td, tr, th{
	padding: 5%;
	margin: 10%;
	text-align: center;
}

.work table{
	width: 70%;
	margin: 0% 15%;
}

.hobbies table{
	width: 70%;
	margin: 1% 15%;
}

.career table{
	width: 70%;
	margin: 1% 15%;
}

.footer{
	float: left;
	width: 100%;
	font-weight: bolder;
	text-align: center;
	background-color: black;
	color: gray;
	padding: 5px;
}